<a href="https://colab.research.google.com/github/Legendkiller9855/python-development-journey/blob/main/learning_python_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

used to add(join) two strings together.give space seprately if required

In [ ]:
print("Hello"+"World")

helloworldkrishan gupta

used to write multiline string

In [ ]:
print("Hello\nHello")

Hello
Hello

simply to get an input value.

In [ ]:
print("hello "+input("what is your name?")+"!")

what is your name?krishan
hellokrishan!

In [ ]:
print(input("what"))

whatk
k

In [ ]:
print("hello  "+input("what is your name?")+"!")

what is your name?kh
hello  kh!

to input a data and print its value

In [ ]:
name = input("what is your name?")
print(name)

what is your name?Krishan
Krishan

In [ ]:
name =("hello")
print(len(name))

5

To print a particular index of a string(This method is known as subscripting)

In [ ]:
print("Hello"[1])

e

To join two strings

In [ ]:
print("hello"+"123")

hello123

to add two numbers

In [ ]:
print(2345+7865)

10210

In [ ]:
print(True)#boolean data type
print(False)#boolean data type
print(4.5566)#float data type

True
False
4.5566

to know about the data type of a given value or expression

In [ ]:
print(type(123444))
print(type("Hello"))
print(type(True))
print(type(4.5566))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

To convert a data type into another data type

In [ ]:
print(int("12345"))
print(str("hello"))
print(float(90900))
print(bool(True))

12345
hello
90900.0
True

In [ ]:
name = input("What is your name?")#we are converting the length to a string type data integer as
print("the length of your name is: " + str(len(name)))#we can add two similar data types only

What is your name?Krishan
the length of your name is: 7

Mathematical Operations

In [ ]:
print("what is your age: " + str(123455))
print(8*7)#used for multiplication
print(77+77)#used for addition
print(77-77)#used for subtraction
print(67/6)#used for division(gives output as a float data type)
print(67//6)#used for division(gives output as a integer data type)
print(67&5)#used for finding remainder
print(8**2)#used for giving a powered value

what is your age: 123455
56
154
0
11.166666666666666
11
1
64

Priority Level of Mathematical Operations : BODMAS

B Bracket

O Of or Powered Value

D Division

M Multiplication

A Addition

S Subtraction

In [ ]:
print(3*3-3+3/3)

7.0

In [ ]:
print(round(15/8))#used to round off the value(rounding off is according to the nearest integer value from the actual decimal value)
print(round(119/33,2))#used to round off the value upto two decimal places.

2
3.61

In [ ]:
#f string is used to add a expression in a string
score = 0
height = 1.8
isWinning = True
print(f"your score is {score},your height is {height},your winning is {isWinning}")

your score is 0,your height is 1.8,your winning is True

In [ ]:
print("Roller Coaster Ride")
height = int(input(("what is your height?")))
if height>120:
  print("you can ride the roller coaster")
else:
  print("you can't ride the roller coaster")

Roller Coaster Ride
what is your height?12
you can't ride the roller coaster

Comparison Operators

Greater than >

Smaller than <

Is Equal to ==

Greater than or equal to >=

Smaller than or equal to <=

Not Equal to !=

Modulo Operator

% gives us the value of remainder

In [ ]:
number = int(input("what is your number: "))
problem =int(number%2)
if problem==0:
  print("even number")
else :
  print("odd number")

what is your number: 7
odd number

In [ ]:
print("Roller Coaster Ride")
height = int(input(("what is your height?")))
if height>120:
  print("you can ride the roller coaster")
  age = int(input("what is your age?"))
  if age<18:
    print("fare price is: 8$")
  elif age==18:
    print("fare price is: 10$")
  else:
    print("fare price is: 12$")
else:
  print("you can't ride the roller coaster")

Roller Coaster Ride
what is your height?34566
you can ride the roller coaster
what is your age?23
fare price is: 12$

if elif else is used in the situation when we don't want to check all the conditions

whereas in case of if if if all the statements are checked.

In [ ]:
print("Roller Coaster Ride")
height = int(input(("what is your height?")))
bill = int(0)  # Initialize bill as an integer
if height > 120:
  print("you can ride the roller coaster")
  age = int(input("what is your age?"))
  if age < 18:
    bill = 8  # Assign integer values to bill
  elif age == 18:
    bill = 10
  else:
    bill = 12
  do_you_want_photos = input("If you want photos type yes else no")

  if do_you_want_photos == "yes":
    bill += 3
    print(f"Your final bill is: ${bill}")

  else :
    bill += 0
    print(f"Your final bill is: ${bill}")

else:
  print("you can't ride the roller coaster")

Roller Coaster Ride
what is your height?8889
you can ride the roller coaster
what is your age?88
If you want photos type yes else noy
Your final bill is: $12

In [ ]:
print("Pizza Order App")
pizza_type = input("Veg or Non-Veg Pizza?") # Convert input to lowercase for easier comparison

bill = 0 # Initialize bill

if pizza_type == "veg":
  size_of_pizza = input(f"Small:4$ , Medium:6$ , Large:8$")
  if size_of_pizza == "small":
    bill = 4
  elif size_of_pizza == "medium":
    bill = 6
  else: # Assuming large is the only other option
    bill = 8
  extra_topping_cost = 3 # Cost for veg extra topping

else: # Assuming non-veg is the only other option
  size_of_pizza = input(f"Small:6$ , Medium:8$ , Large:10$").lower()
  if size_of_pizza == "small":
    bill = 6
  elif size_of_pizza == "medium":
    bill = 8
  else: # Assuming large is the only other option
    bill = 10
  extra_topping_cost = 5 # Cost for non-veg extra topping

extra_topping = input("if extra topping needed type yes else no: ")
if extra_topping == "yes":
  bill += extra_topping_cost

print(f"Your final bill is ${bill}")

Pizza Order App
Veg or Non-Veg Pizza?veg
Small:4$ , Medium:6$ , Large:8$large
if extra topping needed type yes else noyes
Your final bill is $11

Logical Operators:

and gives output true if both conditions are true

or gives output true even if one of the condition is true

In [ ]:
#Loop is the method performing a task again and again until we get our desired output.
fruits = ["apple","banana","cherry"]
for fruit in fruits:#will take fruit as a variable in list fruits and print all
  print(fruit)#the fruits individually and terminate until all the indexes are indexed in the list.
  print(fruit + " pie ")
  print(fruits)#this line will also run multiple times no matter the result will come same as the loop is running several times.

print(fruits)

apple
apple pie
['apple', 'banana', 'cherry']
banana
banana pie
['apple', 'banana', 'cherry']
cherry
cherry pie
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [ ]:
student_scores = [120,233,45,45,56,6,7,654]
total_score = sum(student_scores)
print(total_score)

1166

In [ ]:
student_score = [120,233,45,45,56,7,6,654]
total_score = 0
for score in student_score: # Use a different variable name for the loop
  total_score += score # Add the individual score to the total
print(total_score)

1166

In [ ]:
student_score = [120,233,45,45,56,7,6,654]
print(max(student_score))#used for finding max value in a list

654

In [ ]:
student_score = [120,233,45,45,56,7,6,654]
max_score = int(max(student_score))
print(max_score)
for value in student_score:
  if value>=max_score:
    print("Greatest number found")

654
Greatest number found

**Range function in loop is used to repeat a task several times in a desired range**

for number in range(a,b):

print(number)

In [ ]:
for number in range(1,11):#range includes a but not b i.e.1 to 10 will be printed
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for number in range(1,11,2):#1,11 are the range and 2 means that after picking the first number pick the second number which is on 2nd position from
  print(number)#the first number
#matlab agar 2 likha hai toh ek ek chodh ke lena hai
total = 0
for number in range(1,101):
  print(number)
  total += number
print(total)

1
3
5
7
9
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050

**FOR LOOP is used to perform a task again and again until the result is achieved or it has reached the range of performing task.**

**SYNTAX : for name in range(0,4):  4 is not included**
             
             OR

**SYNTAX : for fruit in fruits:**             

**WHILE LOOP is used to perform a task again and again until the condition becomes false**

**SYNTAX : while condition:**

In [35]:
from logging import PlaceHolder
print("HANGMAN")

word_list = ["python","hangman","challenge","developer","function","variable","keyboard","condition","iteration","syntax",
"string","integer","loop","boolean","exception","dictionary","module","parameter","argument","recursion"]

import random
chosen_word = random.choice(word_list).lower()
print(chosen_word)

length_of_word = len(chosen_word)
print(f"The word has {length_of_word} letters")

guess = input("Guess a letter:  ").lower()

display = ""

for letter in chosen_word:
  if letter == guess:
    display += letter
  else:
    display += "_ "
print(display)

placeholder = ""

HANGMAN
boolean
The word has 7 letters
Guess a letter:  e
_ _ _ _ e_ _
_ _ _ _ _ _ _ _