<a href="https://colab.research.google.com/github/Legendkiller9855/python-development-journey/blob/main/learning_python_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

used to add(join) two strings together.give space seprately if required

In [ ]:
print("Hello"+"World")

helloworldkrishan gupta

used to write multiline string

In [ ]:
print("Hello\nHello")

Hello
Hello

simply to get an input value.

In [ ]:
print("hello "+input("what is your name?")+"!")

what is your name?krishan
hellokrishan!

In [ ]:
print(input("what"))

whatk
k

In [ ]:
print("hello  "+input("what is your name?")+"!")

what is your name?kh
hello  kh!

to input a data and print its value

In [ ]:
name = input("what is your name?")
print(name)

what is your name?Krishan
Krishan

In [ ]:
name =("hello")
print(len(name))

5

To print a particular index of a string(This method is known as subscripting)

In [1]:
print("Hello"[1])

e

To join two strings

In [2]:
print("hello"+"123")

hello123

to add two numbers

In [3]:
print(2345+7865)

10210

In [4]:
print(True)#boolean data type
print(False)#boolean data type
print(4.5566)#float data type

True
False
4.5566

to know about the data type of a given value or expression

In [7]:
print(type(123444))
print(type("Hello"))
print(type(True))
print(type(4.5566))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

To convert a data type into another data type

In [16]:
print(int("12345"))
print(str("hello"))
print(float(90900))
print(bool(True))

12345
hello
90900.0
True

In [5]:
name = input("What is your name?")#we are converting the length to a string type data integer as
print("the length of your name is: " + str(len(name)))#we can add two similar data types only

What is your name?Krishan
the length of your name is: 7

Mathematical Operations

In [9]:
print("what is your age: " + str(123455))
print(8*7)#used for multiplication
print(77+77)#used for addition
print(77-77)#used for subtraction
print(67/6)#used for division(gives output as a float data type)
print(67//6)#used for division(gives output as a integer data type)
print(67&5)#used for finding remainder
print(8**2)#used for giving a powered value

what is your age: 123455
56
154
0
11.166666666666666
11
1
64

Priority Level of Mathematical Operations : BODMAS

B Bracket

O Of or Powered Value

D Division

M Multiplication

A Addition

S Subtraction

In [10]:
print(3*3-3+3/3)

7.0

In [14]:
print(round(15/8))#used to round off the value(rounding off is according to the nearest integer value from the actual decimal value)
print(round(119/33,2))#used to round off the value upto two decimal places.

2
3.61

In [16]:
#f string is used to add a expression in a string
score = 0
height = 1.8
isWinning = True
print(f"your score is {score},your height is {height},your winning is {isWinning}")

your score is 0,your height is 1.8,your winning is True