<a href="https://colab.research.google.com/github/Legendkiller9855/python-development-journey/blob/main/learning_python_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

used to add(join) two strings together.give space seprately if required

In [ ]:
print("Hello"+"World")

helloworldkrishan gupta

used to write multiline string

In [ ]:
print("Hello\nHello")

Hello
Hello

simply to get an input value.

In [ ]:
print("hello "+input("what is your name?")+"!")

what is your name?krishan
hellokrishan!

In [ ]:
print(input("what"))

whatk
k

In [ ]:
print("hello  "+input("what is your name?")+"!")

what is your name?kh
hello  kh!

to input a data and print its value

In [ ]:
name = input("what is your name?")
print(name)

what is your name?Krishan
Krishan

In [ ]:
name =("hello")
print(len(name))

5

To print a particular index of a string(This method is known as subscripting)

In [ ]:
print("Hello"[1])

e

To join two strings

In [ ]:
print("hello"+"123")

hello123

to add two numbers

In [ ]:
print(2345+7865)

10210

In [ ]:
print(True)#boolean data type
print(False)#boolean data type
print(4.5566)#float data type

True
False
4.5566

to know about the data type of a given value or expression

In [ ]:
print(type(123444))
print(type("Hello"))
print(type(True))
print(type(4.5566))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

To convert a data type into another data type

In [ ]:
print(int("12345"))
print(str("hello"))
print(float(90900))
print(bool(True))

12345
hello
90900.0
True

In [ ]:
name = input("What is your name?")#we are converting the length to a string type data integer as
print("the length of your name is: " + str(len(name)))#we can add two similar data types only

What is your name?Krishan
the length of your name is: 7

Mathematical Operations

In [ ]:
print("what is your age: " + str(123455))
print(8*7)#used for multiplication
print(77+77)#used for addition
print(77-77)#used for subtraction
print(67/6)#used for division(gives output as a float data type)
print(67//6)#used for division(gives output as a integer data type)
print(67&5)#used for finding remainder
print(8**2)#used for giving a powered value

what is your age: 123455
56
154
0
11.166666666666666
11
1
64

Priority Level of Mathematical Operations : BODMAS

B Bracket

O Of or Powered Value

D Division

M Multiplication

A Addition

S Subtraction

In [ ]:
print(3*3-3+3/3)

7.0

In [ ]:
print(round(15/8))#used to round off the value(rounding off is according to the nearest integer value from the actual decimal value)
print(round(119/33,2))#used to round off the value upto two decimal places.

2
3.61

In [ ]:
#f string is used to add a expression in a string
score = 0
height = 1.8
isWinning = True
print(f"your score is {score},your height is {height},your winning is {isWinning}")

your score is 0,your height is 1.8,your winning is True

In [ ]:
print("Roller Coaster Ride")
height = int(input(("what is your height?")))
if height>120:
  print("you can ride the roller coaster")
else:
  print("you can't ride the roller coaster")

Roller Coaster Ride
what is your height?12
you can't ride the roller coaster

Comparison Operators

Greater than >

Smaller than <

Is Equal to ==

Greater than or equal to >=

Smaller than or equal to <=

Not Equal to !=

Modulo Operator

% gives us the value of remainder

In [ ]:
number = int(input("what is your number: "))
problem =int(number%2)
if problem==0:
  print("even number")
else :
  print("odd number")

what is your number: 7
odd number

In [ ]:
print("Roller Coaster Ride")
height = int(input(("what is your height?")))
if height>120:
  print("you can ride the roller coaster")
  age = int(input("what is your age?"))
  if age<18:
    print("fare price is: 8$")
  elif age==18:
    print("fare price is: 10$")
  else:
    print("fare price is: 12$")
else:
  print("you can't ride the roller coaster")

Roller Coaster Ride
what is your height?34566
you can ride the roller coaster
what is your age?23
fare price is: 12$

if elif else is used in the situation when we don't want to check all the conditions

whereas in case of if if if all the statements are checked.

In [ ]:
print("Roller Coaster Ride")
height = int(input(("what is your height?")))
bill = int(0)  # Initialize bill as an integer
if height > 120:
  print("you can ride the roller coaster")
  age = int(input("what is your age?"))
  if age < 18:
    bill = 8  # Assign integer values to bill
  elif age == 18:
    bill = 10
  else:
    bill = 12
  do_you_want_photos = input("If you want photos type yes else no")

  if do_you_want_photos == "yes":
    bill += 3
    print(f"Your final bill is: ${bill}")

  else :
    bill += 0
    print(f"Your final bill is: ${bill}")

else:
  print("you can't ride the roller coaster")

Roller Coaster Ride
what is your height?8889
you can ride the roller coaster
what is your age?88
If you want photos type yes else noy
Your final bill is: $12

In [ ]:
print("Pizza Order App")
pizza_type = input("Veg or Non-Veg Pizza?") # Convert input to lowercase for easier comparison

bill = 0 # Initialize bill

if pizza_type == "veg":
  size_of_pizza = input(f"Small:4$ , Medium:6$ , Large:8$")
  if size_of_pizza == "small":
    bill = 4
  elif size_of_pizza == "medium":
    bill = 6
  else: # Assuming large is the only other option
    bill = 8
  extra_topping_cost = 3 # Cost for veg extra topping

else: # Assuming non-veg is the only other option
  size_of_pizza = input(f"Small:6$ , Medium:8$ , Large:10$").lower()
  if size_of_pizza == "small":
    bill = 6
  elif size_of_pizza == "medium":
    bill = 8
  else: # Assuming large is the only other option
    bill = 10
  extra_topping_cost = 5 # Cost for non-veg extra topping

extra_topping = input("if extra topping needed type yes else no: ")
if extra_topping == "yes":
  bill += extra_topping_cost

print(f"Your final bill is ${bill}")

Pizza Order App
Veg or Non-Veg Pizza?veg
Small:4$ , Medium:6$ , Large:8$large
if extra topping needed type yes else noyes
Your final bill is $11

Logical Operators:

and gives output true if both conditions are true

or gives output true even if one of the condition is true

In [ ]:
#Loop is the method performing a task again and again until we get our desired output.
fruits = ["apple","banana","cherry"]
for fruit in fruits:#will take fruit as a variable in list fruits and print all
  print(fruit)#the fruits individually and terminate until all the indexes are indexed in the list.
  print(fruit + " pie ")
  print(fruits)#this line will also run multiple times no matter the result will come same as the loop is running several times.

print(fruits)

apple
apple pie
['apple', 'banana', 'cherry']
banana
banana pie
['apple', 'banana', 'cherry']
cherry
cherry pie
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [ ]:
student_scores = [120,233,45,45,56,6,7,654]
total_score = sum(student_scores)
print(total_score)

1166

In [ ]:
student_score = [120,233,45,45,56,7,6,654]
total_score = 0
for score in student_score: # Use a different variable name for the loop
  total_score += score # Add the individual score to the total
print(total_score)

1166

In [ ]:
student_score = [120,233,45,45,56,7,6,654]
print(max(student_score))#used for finding max value in a list

654

In [ ]:
student_score = [120,233,45,45,56,7,6,654]
max_score = int(max(student_score))
print(max_score)
for value in student_score:
  if value>=max_score:
    print("Greatest number found")

654
Greatest number found

**Range function in loop is used to repeat a task several times in a desired range**

for number in range(a,b):

print(number)

In [ ]:
for number in range(1,11):#range includes a but not b i.e.1 to 10 will be printed
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for number in range(1,11,2):#1,11 are the range and 2 means that after picking the first number pick the second number which is on 2nd position from
  print(number)#the first number
#matlab agar 2 likha hai toh ek ek chodh ke lena hai
total = 0
for number in range(1,101):
  print(number)
  total += number
print(total)

1
3
5
7
9
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050

**FOR LOOP is used to perform a task again and again until the result is achieved or it has reached the range of performing task.**

**SYNTAX : for name in range(0,4):  4 is not included**
             
             OR

**SYNTAX : for fruit in fruits:**             

**WHILE LOOP is used to perform a task again and again until the condition becomes false**

**SYNTAX : while condition:**

In [ ]:
print("HANGMAN")

word_list = ["python", "hangman", "challenge", "developer", "function", "variable",
             "keyboard", "condition", "iteration", "syntax", "string", "integer",
             "loop", "boolean", "exception", "dictionary", "module", "parameter",
             "argument", "recursion"]

import random
chosen_word = random.choice(word_list).lower()
print(chosen_word)  # You might want to remove this in actual gameplay

# Create initial placeholder for display
placeholder = ""
length_of_word = len(chosen_word)
for letter in range(length_of_word):
    placeholder += "_ "
print(placeholder)
print(f"The word has {length_of_word} letters")

# Initialize the display list with underscores
display = ["_"] * length_of_word

# Game variables
lives = 6
guessed_letters = []

game_over = False

# Main game loop
while not game_over:
    guess = input("Guess a letter: ").lower()

    if guess in guessed_letters:
        print(f"You've already guessed '{guess}'. Try again.")
        continue
    guessed_letters.append(guess)

    # Check guessed letter and update display
    correct_guess = False
    for index in range(length_of_word):
        if chosen_word[index] == guess:
            display[index] = guess
            correct_guess = True

    if not correct_guess:
        lives -= 1
        print(f"Wrong guess! Lives left: {lives}")
        if lives == 0:
            print("You lost! The word was:", chosen_word)
            game_over = True

    # Print current display
    print(" ".join(display))

    # Check if the player has won
    if "_" not in display:
        print("Congratulations! You guessed the word!")
        game_over = True

HANGMAN
string
_ _ _ _ _ _
The word has 6 letters
Guess a letter: l
Wrong guess! Lives left: 5
_ _ _ _ _ _
Guess a letter: s
s _ _ _ _ _
Guess a letter: t
s t _ _ _ _
Guess a letter: r
s t r _ _ _
Guess a letter: i
s t r i _ _
Guess a letter: n
s t r i n _
Guess a letter: g
s t r i n g
Congratulations! You guessed the word!

In [ ]:
def my_function():
  print("HELLO")
  print("BYE")
  a = 4
  print(a)
my_function()

HELLO
BYE
4

USING FUNCTION WITH OUR OWN INPUT.

In Python,a function with input(also called a parameter or argument) lets you pass data into a function so it can perform a task using that data.

It helps to input data using strings.

#Example:
def greet(name="Guest"):

  print("Hello",name)
  
greet("Riya")  #Output will be Hello Riya

greet()      #OUtput will be Error as no argument is given

              Instead use

def greet(name = "guest") as it will give output hello guest even if we call function as greet()  as the computer will be having a pre-defined parameter or argument.

In [ ]:
def my_function(name):
  print(f"My name is {name}")
  print(f"{name}")

my_function("Krishan")

My name is Krishan
Krishan

In [ ]:
def my_function(name ="Krishan",location = "Moga"):
  print(f"My name is {name}")
  print(f"I am from {location}")

#my_function("anand","ludhiana")
my_function(location="Ludhiana",name="anand")#used to specify

My name is anand
I am from Ludhiana

In [ ]:
def my_function(name ="Krishan",location = "Moga",age="20"):
  print(f"My name is {name}")
  print(f"I am from {location}")
  print(f"My age is {age}")

#my_function("anand","ludhiana")
my_function(location="Ludhiana",name="anand",age="21")

My name is anand
I am from Ludhiana
My age is 21

**A Dictionary in python is a collection of key-value pairs.**

**Dictionary is mutable i.e. it can be changed after creation**

**SYNTAX : dict = { key1:value1,key2,value2}

In [ ]:
dictionary = {
  "key1":"value1",
  "key2":"value2"
}
print(dictionary)#Used to print the whole dictionary
print(dictionary["key1"])#Used to print the value of a particular key.
dictionary["key3"] = "value3"#Used to add a new key and value in a dictionary.
print(dictionary)

empty_dictionary = {}#Used to create an empty dictionary
print(empty_dictionary)

dictionary = {}#Will set the dictionart to an empty dictionary as dictionary is mutable.
print(dictionary)

hello = {
    "key1":"value1",
    "key2":"value2",
    "key3":"value3",
}
hello["key1"]="value4"#Used to change the value of a key existing in a dictionary.
print(hello)

{'key1': 'value1', 'key2': 'value2'}
value1
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{}
{}
{'key1': 'value4', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
#LOOP in a dictionary.
dictionary = {
    "bug" : "hello",
    "worm":"bye",
    "function":"value",
}

for thing in dictionary:
  print(thing)#Used to print the keys in a dictionary.
  print(dictionary[thing])#Used to print values in a dictionary.

bug
hello
worm
bye
function
value

In [ ]:
student_scores = {
    'Harry': 88,
    'Ron': 78,
    'Hermione': 95,
    'Draco': 75,
    'Neville': 60
}

student_grades = {}
for student in student_scores:
    score = student_scores[student]
    if score>=90:
        student_grades[student] = "A"
    elif score<=90 and score>=70:
        student_grades[student] = "A"
    else:
      student_grades[student]="FAIL"

print(student_grades)

In [ ]:
capitals = {
    "India":"Delhi",
    "USA":"Washington DC",
    "France":"Paris",
}
print(capitals)

city_travelled={
    "India":["Delhi","Goa","Moga"],#List can also be the value of a key in a dictionary.
    "USA":["Washington DC","New York"],
    "France":["Paris","Marseille"],
}
print(city_travelled["India"][1])#Used to print a particular value of list in a given dictionary using index value.

city_travelled["nested_list"] = ["A","B","C",["D","E"]] # Corrected syntax for adding a new key-value pair
print(city_travelled["nested_list"][3][0])

{'India': 'Delhi', 'USA': 'Washington DC', 'France': 'Paris'}
Goa
D

In [ ]:
travel_log = {
    "France":{
        "cities_visited":["Paris","Lille","Dijon"],
        "total_visits":12,
    },
    "Germany":{
        "cities_visited":["Berlin","Hamburg","Stuttgart"],
        "total_visits":5,
    },
}
print(travel_log["France"]["cities_visited"][1])
print(travel_log["France"]["total_visits"])

Lille
12

In [ ]:
def format_name(f_name = "First Name",l_name = "Last Name"):
  print(f_name.title())
  print(l_name.title())
  name = f_name + " " + l_name
  print(name)
format_name(l_name = "Gupta",f_name = "Krishan")

Krishan
Gupta
Krishan Gupta

Functions with OUTPUT:

SYNTAX :

In [ ]:
def my_function():
  f_name = "Krishan "
  l_name = "Gupta"
  name = f_name + l_name
  return name

my_function()

'KrishanGupta'

In [ ]:
def function_1(text):
  return text + text

def function_2(text):
  return text.title()

output = function_1("krishan")
print(output)

result = function_2(output)
print(result)
#OR
aim = function_2(function_1("krishan"))
print(aim)

krishankrishan
Krishankrishan
Krishankrishan

return keyword tells us that the function is over.We can have multiple return keywords in a function.

In [ ]:
def function(f_name="first",l_name="last"):
  formated_first_name = f_name.title()
  formated_last_name = l_name.title()
  return f"{formated_first_name} {formated_last_name}"
  print(function(l_name="gupta",f_name="krishan")) #Will not be executed as return keyword has marked the ending of the function.
function()

'First Last'

In [ ]:
def function(f_name="first",l_name="last"):
  if f_name == "" or l_name == "": #If this condition is satisfied it will return null value
    return
  formated_first_name = f_name.title()
  formated_last_name = l_name.title()
  return f"{formated_first_name} {formated_last_name}"

print(function(input("What is your name?"),input("What is your last name?")))

What is your name?
What is your last name?
None

In [ ]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
is_leap_year(2000)

True

*Doctstring is a special kind of string used to document a module,class,method,or function.It helps others understand what the code is supposed to do.

SYNTAX : """""""(comment after the first line of function)

In [ ]:
def my_function(n1,n2):
  return n1+n2
my_favourite_operation = my_function#Used to store a function in another variable.To store simply remove the ()as brackets will trigger the function.
print(my_favourite_operation(2,3))#Used to run the variable which consists the function. i.e. the function will be triggered automatically

5

In [3]:
def function(n1, n2):
  operations = {
      "+": n1 + n2,
      "-": n1 - n2,
      "*": n1 * n2,
      "/": n1 / n2,
  }
  return operations

result = function(n1=2, n2=4)
print(result["+"])

6

In [6]:
def subtract(n1,n2):
  return n1-n2

def add(n1,n2):
  return n1+n2

def multiply(n1,n2):
  return n1*n2

def divide(n1,n2):
  return n1/n2

operations = {
    "-":subtract,
    "+":add,
    "*":multiply,
    "/":divide,
}
print(operations["*"](n1=4,n2=5))

20

In [ ]:
def subtract(n1,n2):
  return n1-n2

def add(n1,n2):
  return n1+n2

def multiply(n1,n2):
  return n1*n2

def divide(n1,n2):
  return n1/n2

operations = {
    "-":subtract,
    "+":add,
    "*":multiply,
    "/":divide,
}

def calculator():
  should_continue = True
  first_number =float(input("What's your first number?"))
  answer = 0

  while should_continue:
    operations_available = "*\n-\n+\n/"
    print(operations_available)
    operand_selected = input("What's the operator selected?")
    second_number=float(input("What's your next number?"))
    answer = operations[operand_selected](n1=first_number,n2=second_number)
    print(answer)
    print("If you want to continue the calculation type y , if you want to reset the calculator type n")
    wanna_continue =input("Want to continue the operations from the result or from the beginning?")
    if wanna_continue == "y":
      first_number = answer

    else:
      should_continue = False
  print(f"Your final solution is {answer}")

calculator()